#br-controls {
    position: absolute;
    bottom: 20px;
    right: 10px;
    width: 20%;

    padding: 10px;

    background-color: var(--creamery);
    color: var(--creamery-font);
    
    border: 2px solid var(--arch-black);
    z-index: 2;
}
#br-controls h3 {
    margin-top: 0px;
}
.scale {
    width: 100%;
    display: grid;
    grid-template-columns: 8% 84% 8%;
}
.scale p:last-child {
    margin-left: auto;
}
.scale p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 0.7em;
}
#scale {
    width: 100%;
}