#sidebar {
    position: absolute;
    top: 1%;
    left: 3%;
    width: 20%;

    z-index: 2;
}
.sidebar-box {
    background-color: var(--creamery);
    color: var(--creamery-font);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;

    width: 100%;
    position: relative;
    display: flex;
}
.sidebar-box-contents {
    width: 100%;
}
img {
    width: 100%;
}

.hidden {
    display: none;
}

.closed-dropdown {
    display: none;
}
.tiff-select {
    white-space: pre;
}